@charset "UTF-8";

#container{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    justify-content: center;
    justify-content: space-around;
}

.itens{
    border: 1px solid #e88eb5;
    
}