#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr) ;
    grid-template-areas: " DIV1 DIV1 DIV2 DIV2" "DIV3 DIV3 DIV3 DIV3" "DIV4 DIV4 DIV4 DIV4" ". DIV5 DIV5." "DIV6 DIV6 DIV6 DIV6" "DIV7 DIV7 DIV8 DIV9";
}
.item1{
    grid-area: DIV1;
    border: 1px solid; 
}

.item2{
    grid-area: DIV2;
   border: 1px solid;
}

.item3{
    grid-area: DIV3;
    border: 1px solid;
}
.item4{
    grid-area: DIV4;
    border: 1px solid;
}
.item5{
    grid-area: DIV5;
    border: 1px solid;
}
.item6{
    grid-area: DIV6;
    border: 1px solid;
}
.item7{
    grid-area: DIV7;
    border: 1px solid;
}
.item8{
    grid-area: DIV8;
    border: 1px solid;
}
.item9{
    grid-area: DIV9;
    border: 1px solid;
}